body {
	margin-top: 20px;
	padding: 0;
    background:black;
    background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #BBBBBB;
}

h1, h2, h3, h4 {
	margin: 0;
	text-transform: none;
	font-weight: normal;
	color: red;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

h4 {
	letter-spacing: -1px;
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

strong {
	color: aqua;
	font-weight: bold;	
}

a:link, a:visited {
	color: aqua;
}

a:hover, a:active {
	text-decoration: underline;
	color: aqua;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

label {
	font-size: 9px;
}

input, textarea, select {
	border:1px solid #3E3E3E;
	color:#999999;
	padding:1px;
	font-size:11px;font-family:helvetica,arial,sans-serif;
	background: #121212;
}

input.form-submit{
	color:aqua;
}

/* Header */

#header {
	clear: both;
	width: 860px;
	height: 52px;
	margin: 0 auto;
	
}

/* Menu */

#menu {
	float: left;
	width: 860px;
	height: 54px;
	padding-left: 10px;
	
}

#menu ul {
	margin: 0;
	padding: 0px 0 0 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: lowercase;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: aqua;
}

#menu a:hover { 
	text-decoration: none; 
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/** Banners */

.container {
    width: 620px;
	height: 240px;
    margin: 0px auto;
}

#banner-product {
	width: 620px;
	height: 274px;
	margin: 0 auto;
	padding: 5px 0 10px 0;
	background: #000000;
}

#banner-product p{
	margin-bottom: 5px;
}

#banner-contact {
	width: 620px;
	height: 264px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	
}

#banner-partner {
	width: 620px;
	height: 264px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	}

#banner-career {
	width: 620px;
	height: 264px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	}

#banner-company {
	width: 620px;
	height: 264px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	}

#logo {
	width: 820px;
	height: 60px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	font-style: italic;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	padding: 20px 0 0 5px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #48ACDE;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }


#wrapper {
	width: 860px;
	margin: 0 auto;
	background: #000000;
}

#wrapper-btm {
	background: url(../images/img03.jpg) no-repeat left bottom;
}
/* Page */

#page {
	width: 860px;
	margin: 0 auto;
	padding-top: 20px;
}

/* Content */

#content {
	float: right;
	width: 620px;
}

/* Post */



.post {
	padding: 15px 15px;	
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.post .subtitle {
	margin-bottom: 20px;
	padding-bottom: 5px;
	color: #FFFFFF;
}

.post h1 {
}

.post h2 {
	height: 32px;
	padding: 8px 0 0 15px;
	font-size: 18px;
	color: aqua;
}

.post h2 a{
	text-decoration: none;
	color: aqua;
}

.post h2 a:hover, a:active {
	text-decoration: underline;
	color: #FFFFFF;
}

.post h2 a:visited {
	color: aqua;
}

.post .entry {
	padding: 0 15px;
}

.post .meta {
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px 0px 0px 0px;
	border-top: 1px inset #333333;
	font-size: 10px;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
	
}

.post .meta .comments {
	padding-left: 22px;
	
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar-wrapper {
	float: left;
	width: 225px;
	display: inline;
}

#sidebar {
	background:#121212;
	position:relative;
	margin-left: 10px;
	padding:10px;
}

#sidebar p{
	padding:0 0 10px;
	font-size: 12px;
	margin: 0 0 2em 0;
	line-height: normal;
	text-align: left;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2 {
	height: 32px;
	margin-bottom: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: red;
}

.divider_sidebar{
	
	margin:0 0 10px;
	font-size:1px;
	line-height:1px;
	height:1px;
}

#sidebar-btm{
	width:215px;
	height:71px;
	
	margin-top:-10px;
	margin-left: 10px;
}

/* Search */

#search {
}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 115px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #BED99C;
}

#x {
	padding: 3px;
	border: none;
	background: aqua;
	text-transform: lowercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}
/* Bottom */
#bottom {
	clear: both;
	width: 860px;
	height: 350px;
	margin: 0 auto;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	color: #646464;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/bottom_bg.png) no-repeat;
}
#bottom p {
	margin-bottom: 10px;
	text-align: justify;
}

#bottom span {
	color: aqua;
}

#bottom a {
	color: #646464;
	text-decoration: underline;
}

#bottom h3 {
	font-size: 18px;
	margin: 0 0 20px 0;
	color: #FFFFFF;
	font-weight: normal;
	margin-bottom: 10px;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

#bottom .footer_menu_list li a {
	color: aqua;
	font-weight: normal;
	text-decoration: none;
}

#bottom .footer_menu_list li a:hover {
	color: #999999;
	text-decoration: underline;
}

.about {
	float: left;
	width: 250px;
	margin-right: 25px;
}

.about p {
	margin: 0 0 2em 0;
	line-height: 20px;
}

.link_section {
	float: left;
	width: 140px;
	margin-right: 25px;
}

.contactus_section {
	float: right;
	width: 225px;
	margin-right: 20px;
}

.contactus_section	p {
	margin: 0 0 2em 0;
	line-height: 20px;
}

#copyright {
	padding: 20px;
	text-align: center;
	color: #646464;
}

#copyright a {
	color: #646464;
	text-decoration: underline;
	font-weight: normal;
}
#copyright a:hover {
	color: #999999;
}
/* Footer */
#footer-wrap {
	width: 860px;
	height: 64px;
	margin: 0 auto;
}

#footer {
	margin: 0 auto;
	height: 64px;
	min-height: 64px;
	padding: 0;
	font-size: 12px;
}

html>body #footer {
	height: auto;
}

#footer p {
}

#legal {
	clear: both;
	padding-top: 10px;
	padding-left: 30px;
	text-align: center;
	color: #999999;
}

#legal a {
}
/* Blog FEED */

#creditfooter {
display: none;
}

